@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Inspiration&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

.conatiner{
  position: relative;
  margin: auto;
  max-width: 1986px;
  width: 100%;
}



